<h2><%=l(:project_google_calendars_edit)%></h2>
<% labelled_tabular_form_for :project_calendar, @project.calendar,
                             :url => project_update_google_calendar_path,
                             :html => {:id => 'project-calendar-form',
                                       :class => 'tabular edit-project-calendar-form',
                                       :method => :put,
                                       :multipart => true} do |f| %>
    <%= error_messages_for 'project_calendar' %>
    <div class="box">
    <%= render :partial => 'project_calendars/form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_edit) %>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
    <%= robot_exclusion_tag %>
<% end %>
